# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 773ca7c301d8ff54d697eaca908d699a0193c2b122abefb4828321e24bffb6e57952a4ef138ca95923795a0683f633c7426abe4dd521cdd41ebd9fdd28e607ed

test:
  secret_key_base: e640f16253229ceeea2ef99fc65280648e759ab5a22c157de9aeb08dc5647216ad947cb8e3be6aa4a6b24b9e0c2387839ae806a40122435617972afcb29111aa

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
